<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <style>
        div#main{
            margin: 20px;
        }
        h3.welcome{
            display: inline-block;
        }
        a.add{
            display: inline-block;
            font-size: large;
            margin-left: 50%;

        }
        a.logout{
            display: inline-block;
            font-size: large;
            margin-left: 10px;

        }

    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body> 
    <div id="main">
        <div id="head">
            <h3 class="welcome">Welcome, {{ request.session.firstname }}</h3>
            <a class="add" href="/addtrip">Add a New Trip</a>
            <a class="logout" href="/logout"> Logout</a>
            <br><br>

        </div> 
        <div id="yours">
            <h4>Your Trip Schedules</h4>
            <table class="table-striped" style="width:90%">
                <tr>
                    <th>Destination</th>
                    <th>Travel Start Date</th> 
                    <th>Travel End Date</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
                {% for trip in self_created_trips %}
                <tr>
                    <td><a href="/view/{{trip.id}}"> {{trip.destination}}</a></td> <td>{{trip.date_from}}</td> 
                    <td>{{trip.date_to}}</td>
                    <td>{{trip.description}}</td>
                    <td><a href="/delete/{{trip.id}}"> Delete</a></td>
                </tr>
                {% endfor %}
                {% for trip in joined_trips %}
                <tr>
                    <td><a href="/view/{{trip.id}}"> {{trip.destination}}</a></td> <td>{{trip.date_from}}</td> 
                    <td>{{trip.date_to}}</td>
                    <td>{{trip.description}}</td>
                    <td><a href="/cancel/{{trip.id}}">Cancel </a></td>
                </tr>
                {% endfor %}
            </table>
        </div><br><br>
        <div id="others">
            <h4>Other User's Travel Plans</h4>
            <table class="table-striped" style="width:80%">
                <tr>
                    <th>Destination</th>
                    <th>Travel Start Date</th> 
                    <th>Travel End Date</th>
                    <th>Do You Want to Join?</th>
                </tr>
                {% for trip in other_trips %}
                <tr>
                    <td><a href="/view/{{trip.id}}"> {{trip.destination}}</a></td>
                    <td>{{trip.date_from}}</td> 
                    <td>{{trip.date_to}}</td>
                    <td><a href="/join/{{trip.id}}">Join</a></td>
                </tr>
                {% endfor %} 
            </table>
            
        </div>
    </div>
    
</body>
</html>